<div class="bg-color-leap-green">
  <div class="text-center text-3xl underline font-bold">
    The Slot Machine <br>
    <button
      type="button"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      (click)="start()"
      class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
    >Start</button>
  </div>
  <div class="h-screen w-screen flex justify-center items-center">
    <div class="h-96 w-3/5 border-lime-900 border-4 flex justify-center items-center p-4">
      <div class="bg-slate-50 h-80 w-48 rounded-md grid grid-flow-row auto-rows-max overflow-hidden">
        <div class="text-center mt-3">
          <img src="https://i.postimg.cc/d3Z2h6mt/apple.png" alt="" height="403" width="619">
        </div>

        <div class="text-center mt-7">
          <img src="https://i.postimg.cc/d3Z2h6mt/apple.png" alt="" height="403" width="619">
        </div>
      </div>

      <div class="bg-slate-50 mx-5 h-80 w-48 rounded-md grid grid-flow-row auto-rows-max overflow-hidden">
        <div class="text-center mt-3">
          <img src="https://i.postimg.cc/d3Z2h6mt/apple.png" alt="" height="403" width="619">
        </div>

        <div class="text-center mt-7">
          <img src="https://i.postimg.cc/d3Z2h6mt/apple.png" alt="" height="403" width="619">
        </div>
      </div>

      <div class="bg-slate-50 h-80 w-48 rounded-md grid grid-flow-row auto-rows-max overflow-hidden">
        <div class="text-center mt-3">
          <img src="https://i.postimg.cc/d3Z2h6mt/apple.png" alt="" height="403" width="619">
        </div>

        <div class="text-center mt-7">
          <img src="https://i.postimg.cc/d3Z2h6mt/apple.png" alt="" height="403" width="619">
        </div>
      </div>

    </div>
  </div>
</div>
