<!--<div id="slot">-->
<!--  <div id="jackpot" class="text-4xl text-center">Jackpot: <span id="jp">5.555.555</span></div>-->
<!--  <div id="reels" class="flex w-screen">-->
<!--    <div class="reel h-full overflow-hidden w-1/5"></div>-->
<!--    <div class="reel h-full overflow-hidden w-1/5"></div>-->
<!--    <div class="reel h-full overflow-hidden w-1/5"></div>-->
<!--    <div class="reel h-full overflow-hidden w-1/5"></div>-->
<!--    <div class="reel h-full overflow-hidden w-1/5"></div>-->
<!--  </div>-->
<!--  <div class="bg-white flex items-center justify-between h-12 py-1 px-8">-->
<!--    <button type="button" id="spin" class="flex items-center m-0">SPIN</button>-->
<!--    <label>-->
<!--      <input type="checkbox" name="autoplay" id="autoplay" class="mr-1 h-10 w-10" />-->
<!--      Autoplay-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->
<div id="slot" class="p-5 h-screen" style="background-color: #2daf4a">
  <div class="flex items-center justify-center">
    <div id="reels" class="flex h-3/5">
      <div class="reel h-full overflow-hidden w-1/5"></div>
      <div class="reel h-full overflow-hidden w-1/5"></div>
      <div class="reel h-full overflow-hidden w-1/5"></div>
      <div class="reel h-full overflow-hidden w-1/5"></div>
      <div class="reel h-full overflow-hidden w-1/5"></div>
    </div>
  </div>
  <div class="flex items-center justify-center p-3">
    <button type="button" id="spin" class="flex items-center m-0">SPIN</button>
  </div>
</div>
